
$default_bg: aliceblue;
$posts_panel_header_height: 50px;
$posts_panel_header_button_height: 30px;
$posts_panel_search_bar_height: 120px;
$posts_panel_search_field_height: 30px;
$posts_panel_search_button_height: 30px;

// body { background-color: yellow; }

/*
label, input { display:block; }
label { 
    margin-top: 20px;
    margin-bottom: 5px;
}

input.text { margin-bottom:12px; width:95%; padding: .4em; }
*/

fieldset {
    padding:0; border:0; margin-top:0px;
}

.ui-dialog .ui-state-error {
    padding: .3em;
}

.ui-draggable, .ui-droppable {
	background-position: top;
}

.td_param_name {
    font-weight: bold;
    width: 80px;
}

#sites_panel_div {
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    position: absolute;
    overflow: scroll;
    background: $default_bg;
}

#posts_panel_div {
    overflow: scroll;
    width: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    position: absolute;
    opacity: 1;
    // background: aliceblue;
    background: $default_bg;
}

#posts_panel_div > #header_div #add_button {
    position: absolute;
    top: ($posts_panel_header_height - $posts_panel_header_button_height) / 2;
    right: 0px;
    height: $posts_panel_header_button_height;
}

#posts_panel_div > #header_div #close_button {
    position: absolute;
    top: ($posts_panel_header_height - $posts_panel_header_button_height) / 2;
    left: 0px;
    height: $posts_panel_header_button_height;
}

#posts_panel_div > #header_div {
    position: absolute;
    top: 0px;
    height: $posts_panel_header_height;
    left: 0px;
    right: 0px;
}

#posts_panel_div > #header_div h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

#posts_panel_div > #search_bar_div {
    position: absolute;
    top: $posts_panel_header_height;
    left: 0px;
    right: 0px;
    height: $posts_panel_search_bar_height;
}

#posts_panel_div > #search_bar_div > #search_field {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 80px;
    width: 100%;
    height: $posts_panel_search_field_height;
}

#posts_panel_div > #search_bar_div > #search_options_div {
    position: absolute;
    left: 0px;
    right: 0px;
    padding-top: 10px;
    top: $posts_panel_search_field_height;
    text-align: center;
}

#posts_panel_div > #search_bar_div > #button_panel {
    position: absolute;
    text-align: center;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

#posts_panel_div #search_options_div fieldset > label  {
    margin-left: 20px;
    font-weight: bold;
}

// #posts_panel_div #search_options_div fieldset > select { width: 80px; }

#posts_panel_div #search_options_div fieldset td {
    padding-top: 0px;
    padding-bottom: 0px;
}

#posts_panel_div #search_options_div fieldset thead td {
    font-weight: bold;
}

#posts_panel_div > #post_list_div {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: $posts_panel_header_height + $posts_panel_search_bar_height;
    border-top: solid 2px;
    overflow: scroll;
}

// #posts_panel_div > #post_list_div span.post_title { font-weight: bold; }

/*
$toolbar_button_height: 30px;
#posts_panel_div > #button_panel {
    overflow: scroll;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: $toolbar_button_height;
    position: absolute;
}
*/

#add_post_dialog fieldset label {
    font-weight: bold;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}

#add_post_dialog fieldset input,textarea {
    display: block;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

#site_login_dialog fieldset label {
    font-weight: bold;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}

#site_login_dialog fieldset input,textarea {
    display: block;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}
