$default_bg: aliceblue;

fieldset {
  padding: 0;
  border: 0;
  margin-top: 0px;
}

.ui-dialog .ui-state-error {
  padding: 0.3em;
}

.ui-draggable,
.ui-droppable {
  background-position: top;
}

.td_param_name {
  font-weight: bold;
  width: 80px;
}

.form_dialog fieldset label {
  font-weight: bold;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
}

.form_dialog fieldset input, textarea, select {
  display: block;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
}
