
.site_buttons_div {
    padding-top: 10px;
    padding-bottom: 10px;
}

.site_summary_title {
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
}

.site_summary_apiUrl{
}

.icons-publish-post {
}

.icons-select-post {
}

.icons-remove-site {
}

