<html>
    <head>
    <?!= include('client/header.html'); ?>
    </head>
    <body>
    <?!= include('client/main.js.html'); ?>
    <?!= include('client/body.html'); ?>
    <?!= include('client/footer.html'); ?>
    </body>
</html>
